node_modules
dist
.vercel
.DS_Store
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/555
lib/
lib64/
parts/
sdist/
var/.
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.db
*.sqlite3
*.sql
